<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="edu.javacourse.register.dao.MarriageDao">
        <property name="test" value="SIMPLE_NEW"/>
    </bean>

    <bean id="manager" class="edu.javacourse.register.business.MarriageManager">
        <property name="marriageDao" ref="dao"/>
    </bean>

    <bean id="controller" class="edu.javacourse.register.rest.MarriageController">
        <property name="marriageManager" ref="manager"/>
    </bean>

</beans>